@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-horizontal {
  animation: scroll-horizontal 20s linear infinite;
}

.animate-scroll-horizontal:hover {
  animation-play-state: paused;
}

@keyframes text-slide-up {
  0%,
  25% {
    transform: translateY(0);
  }
  33%,
  58% {
    transform: translateY(-25%);
  }
  66%,
  91% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-75%);
  }
}
